form {
    width: 100%;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;

    p {
        text-align: end;
        text-decoration: wavy;
    }


    @media screen and (max-width: 768px) {
        padding: 5%;

        ion-button {
            margin: 10px;
        }

        p {
            margin-inline-end: 10px;
        }
    }

}