<ion-item>
  <div>
    <div class="input-email">
      <ion-icon *ngIf="icon" color="primary" slot="start" [name]="icon"></ion-icon>
      <ion-input [type]="type" [autocomplete]="autocomplete" [label]="label" [formControl]="control"
        label-placement="floating" [clearInput]="true" fill="outline"></ion-input>
    </div>
  </div>
  <ion-button *ngIf="contrasenia" (click)="hideShowPassword()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="ocultarVer ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
  </ion-button>

</ion-item>