 ion-item {
     padding: 1rem;

 }

 .input-email {
     display: flex;
     flex-direction: row;
     width: max-content;
     align-items: center;


     ion-icon {
         width: 2rem;
         height: 2rem;
         padding-right: 1rem;
     }


     ion-select {
         width: 200px;
         max-width: 100%;
     }
 }