<app-header title="Cambio dinero" (volverAccion)="cerrarModal()" [isModal]="mostrarBack">
</app-header>
<ion-content>
    <div class="formulario">
        <ion-segment *ngIf="user?.saldo_banco > 0 || user?.saldo_efectivo > 0" [(ngModel)]="opcionSeleccionada">

            <!-- Mostrar solo si hay saldo en efectivo -->
            <ion-segment-button content-id="first" *ngIf="user?.saldo_efectivo > 0" value="first">
                <div class="titulo-segmento">
                    <p>Efectivo</p>
                    <ion-icon name="swap-horizontal-outline" style="font-size: 1.5rem; margin-top: 0.5rem;"></ion-icon>
                    <p>Banco</p>
                </div>
            </ion-segment-button>

            <!-- Mostrar solo si hay saldo en el banco -->
            <ion-segment-button content-id="second" *ngIf="user?.saldo_banco > 0" value="second">
                <div class="titulo-segmento">
                    <p>Banco</p>
                    <ion-icon name="swap-horizontal-outline" style="font-size: 1.5rem; margin-top: 0.5rem;"></ion-icon>
                    <p>Efectivo</p>
                </div>
            </ion-segment-button>

        </ion-segment>

        <ion-segment-view *ngIf="opcionSeleccionada!==''">
            <ion-segment-content [id]="opcionSeleccionada">
                <form [formGroup]="formulario">
                    <p>
                        Contás con un saldo de :
                        {{opcionSeleccionada === 'first'? (user.saldo_efectivo | currency: 'ARS')
                        : (user.saldo_banco | currency: 'ARS')
                        }}
                    </p>
                    <p>Ingrese el importe a cambiar:</p>
                    <ion-input [maskito]="mascara" class="custom" [maskitoElement]="maskPredicate"
                        formControlName="importeAcambiar" inputmode="decimal">
                        <ion-icon slot="start" name="logo-usd" color="light"></ion-icon>
                    </ion-input>
                </form>
            </ion-segment-content>
        </ion-segment-view>

    </div>

    <div style="width: 100% ; display: flex; flex-direction: row; justify-content: center;">
        <ion-button expand="block" shape="round" style="width: fit-content;" [disabled]="!formulario.valid"
            (click)="realizarIntercambio()">
            Finalizar
        </ion-button>
    </div>

</ion-content>
<app-footer></app-footer>