.fecha-item {
    display: flex;
    justify-content: space-between;

    ion-label {
        width: 60%;
    }

    ion-input {
        width: 40%;
        text-align: end;
    }
}

@media screen and (max-width: 768px) {


    ion-button {
        margin: 10px;
    }

    p {
        margin-inline-end: 10px;
    }

    .errores {
        color: red;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
    }

}

.fcierre {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .fc_info {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
        gap: 10px;

        ion-icon {
            display: block;
            font-size: 35px;
            margin-top: 5px;

        }

        .estilo-texto {
            margin-top: 15px;

        }

    }
}

.tarjeta-card {
    position: relative;
    width: 320px;
    height: 200px;
    margin: 1rem auto;
    border-radius: 12px;
    overflow: hidden;
    background-image: url('/assets/img/santander_visa.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.contenido-tarjeta {
    position: absolute;
    color: white;
    top: 40px;
    left: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.numero {
    font-size: 18px;
    letter-spacing: 2px;
}

.entidad {
    font-size: 20px;
}

.vencimiento,
.tipo {
    font-size: 14px;
}