<app-header title="Tarjetas" [mostrarVolver]="usuarioLogeado" [routerLink]="['/home']"></app-header>
<ion-content>
  <div class="ion-page" #page>
    <ion-content class="ion-padding">

      <!-- MODAL COMPONENTE, SE VE SOLO CUANDO LE DAS A AGREGAR TARJETA -->
      <ion-button id="open-modal" expand="block">Agregar Nueva Tarjeta</ion-button>
      <ion-modal #modal trigger="open-modal" [canDismiss]="canDismiss" [presentingElement]="page">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Tarjeta de Credito</ion-title>
              <ion-buttons slot="start">
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">Cancelar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <form [formGroup]="formulario" (ngSubmit)="crearTarjeta()">
              <ion-item>
                <ion-select justify="center" label="Banco" placeholder="Selecciona el banco" formControlName="banco">
                  <ion-select-option value="Santander">Santander</ion-select-option>
                  <ion-select-option value="Galicia">Galicia</ion-select-option>
                  <ion-select-option value="Bbva">Bbva</ion-select-option>
                </ion-select>
              </ion-item>
              <div *ngIf="formulario.controls.banco.errors && formulario.controls.banco.touched">
                <div class="errores" *ngIf="formulario.controls.banco.errors?.['required']">El banco es necesario</div>
              </div>

              <ion-item>
                <ion-select justify="center" label="Tipo" placeholder="Elegi que es tu tarjeta"
                  formControlName="tarjeta">
                  <ion-select-option value="Visa">Visa</ion-select-option>
                  <ion-select-option value="Mastercard">Mastercard</ion-select-option>
                  <ion-select-option value="American Express">American Express</ion-select-option>
                </ion-select>
              </ion-item>
              <div *ngIf="formulario.controls.tarjeta.errors && formulario.controls.tarjeta.touched">
                <div class="errores" *ngIf="formulario.controls.tarjeta.errors?.['required']">La tarjeta es necesario
                </div>
              </div>


              <ion-item class="fecha-item">
                <ion-label>Ultimos 4 digitos</ion-label>
                <ion-input placeholder="**** **** **** 0000" [maskito]="cardMask" [maskitoElement]="maskPredicate"
                  formControlName="digitos"></ion-input>
              </ion-item>
              <div *ngIf="formulario.controls.digitos.errors && formulario.controls.digitos.touched">
                <div class="errores" *ngIf="formulario.controls.digitos.errors?.['required']">Los ultimos 4 digitos son
                  necesarios
                </div>
                <div class="errores" *ngIf="formulario.controls.digitos.errors?.['minlength']">Deben ser 4 los digitos
                </div>
              </div>


              <ion-item class="fecha-item">
                <div class="fcierre">
                  <div class="fc_info">
                    <ion-label class="estilo-texto">Fecha de cierre </ion-label>
                    <ion-icon slot="end" name="help-circle-outline" id="info-cierre" color="warning"></ion-icon>
                    <ion-alert trigger="info-cierre" header="Info"
                      message="La fecha de cierre indica que hasta esa fecha inclusive,todo gasto que realices con la tarjeta, va a entrar en el resumen proximo a abonar. Si compras luego de esa fecha, esos consumos que realices, vendran para abonar dentro de 30 dias, el siguiente resumen al corriente. La fecha de cierre varia mes a mes, la puedes ver en tu HomeBanking"
                      [buttons]="alertaInfo"></ion-alert>
                  </div>
                  <ion-input type="date" formControlName="fecha_cierre"></ion-input>
                </div>
              </ion-item>
              <div *ngIf="formulario.controls.fecha_cierre.errors && formulario.controls.fecha_cierre.touched">
                <div class="errores" *ngIf="formulario.controls.fecha_cierre.errors?.['required']">La fecha de cierre es
                  necesaria
                </div>
              </div>
              <ion-button type="submit" [disabled]="!formulario.valid">Agregar</ion-button>

            </form>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-item-sliding *ngFor="let tarjeta of tarjetas">
        <ion-card class="tarjeta-card" [ngStyle]="{'background-color': getColorBanco(tarjeta.banco), color: 'white'}">
          <ion-card-header>
            <ion-card-title class="card-title">**** **** **** {{tarjeta.digitos}}
            </ion-card-title>
            <ion-card-subtitle class="card-subtitle">
              <ion-img [src]="getIconoBanco(tarjeta.banco)" class="icono-banco"></ion-img>
              <ion-img [src]="getIconoTarjeta(tarjeta.tarjeta)" class="icono-tarjeta"></ion-img>
            </ion-card-subtitle>
          </ion-card-header>

          <div class="botones">
            <ion-button color="dark" fill="clear">Consumos</ion-button>
            <ion-button fill="clear" (click)="editarTarjeta(tarjeta)">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="confirmarDelete(tarjeta)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>

          </div>
        </ion-card>
      </ion-item-sliding>
    </ion-content>

  </div>
</ion-content>
<app-footer></app-footer>