.fecha-item {
    display: flex;
    justify-content: space-between;

    ion-label {
        width: 60%;
    }

    ion-input {
        width: 40%;
        text-align: end;
    }
}

@media screen and (max-width: 768px) {


    ion-button {
        margin: 10px;
    }

    p {
        margin-inline-end: 10px;
    }

    .errores {
        color: red;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;
    }

}

.fcierre {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    .fc_info {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
        gap: 10px;

        ion-icon {
            display: block;
            font-size: 35px;
            margin-top: 5px;

        }

        .estilo-texto {
            margin-top: 15px;

        }

    }
}

.tarjeta-card {
    position: relative;
    width: 320px;
    height: 200px;
    margin: 1rem auto;
    border-radius: 12px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.card-title {
    font-size: 1.5rem;
    // margin-top: 2rem;


}

.card-subtitle {
    color: 212, 172, 13;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-shadow:
        -0.5px -0.5px 0 black,
        0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black,
        0.5px 0.5px 0 black;

    .icono-tarjeta {
        width: 3.5rem;
        height: 3.5rem;
        margin: 0rem;
    }

    .icono-banco {
        width: 8rem;
        height: 3rem;
        margin: 0rem;
    }

}

.botones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;

    ion-button {
        width: fit-content;
        height: fit-content;
        gap: 0rem;
        margin: 0.3rem;
    }

    ion-icon {
        gap: 0rem;
        margin: 0rem;
        color: black;
        width: 20px;
        height: 20px;
    }
}

.botones-acciones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}