<app-header [title]="meta ? 'Modificar Meta':'Nueva Meta'" [isModal]="mostrarBack"
  (volverAccion)="cerrarModal()"></app-header>
<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="submit()">


    <!-- nombre meta  -->
    <app-ingreso-datos icon="document-text-outline" autocomplete="detail" label="Nombre meta"
      [control]="formulario.controls.nombre" inputmode="text" type='text'></app-ingreso-datos>

    <div *ngIf="formulario.controls.nombre.errors && formulario.controls.nombre.touched">
      <div class="errores" *ngIf="formulario.controls.nombre.errors?.['required']">El nombre de la meta es necesario
      </div>
      <div class="errores" *ngIf="formulario.controls.nombre.errors?.['minlength']">El nombre de la meta debe tener al
        menos 1
        caracteres</div>
    </div>


    <!-- valor   -->
    <app-ingreso-datos icon="logo-usd" autocomplete="detail" label="Valor meta" [control]="formulario.controls.valor"
      [maskito]="mascara" [maskitoElement]="maskPredicate" inputmode="decimal" type='text'></app-ingreso-datos>


    <div *ngIf="formulario.controls.valor.errors && formulario.controls.valor.touched">
      <div class="errores" *ngIf="formulario.controls.valor.errors?.['required']">El valor de la meta es necesario</div>
      <div class="errores" *ngIf="formulario.controls.valor.errors?.['min']">El valor de la meta debe ser mayor a 0
      </div>
    </div>

    <!-- cambiar moneda -->
    <ion-toggle (click)="cambiarMoneda()">¿Es en dolares?</ion-toggle>



    <!-- detalle  -->
    <app-ingreso-datos icon="document-text-outline" autocomplete="detail" label="Detalle"
      [control]="formulario.controls.detalle" inputmode="text" type='text'></app-ingreso-datos>

    <div *ngIf="formulario.controls.detalle.errors && formulario.controls.detalle.touched">
      <div class="errores" *ngIf="formulario.controls.detalle.errors?.['required']">El detalle es necesario</div>
      <div class="errores" *ngIf="formulario.controls.detalle.errors?.['minlength']">El detalle debe tener al
        menos 1
        caracteres</div>
    </div>


    <div style="width: max-content; display: flex; flex-direction: row ; justify-content: center; margin: 10px auto;">
      <ion-button type="submit" [disabled]="!formulario.valid" shape="round">
        {{meta ? 'Modificar ': 'Agregar'}}
        <ion-icon slot="end" [name]="meta? 'pencil' : 'checkmark-circle'"></ion-icon>
      </ion-button>
    </div>

  </form>
</ion-content>
<app-footer></app-footer>