<app-header
  [title]="(tarjeta.banco==='Otro'? 'Tarjeta' : tarjeta.banco)  + ' ' + (tarjeta.tarjeta==='American Express'? 'American' :tarjeta.tarjeta)  + ' ' + tarjeta.digitos "
  [isModal]="mostrarBack" (volverAccion)="cerrarModal()"> </app-header>

<ion-content>

  <!-- MENU SI EXISTEN CONSUMOS -->
  <ion-list style="margin-top: 1rem;margin-bottom: 1rem;">
    <ion-chip *ngIf="consumos.length!=0"
      style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; font-weight: bold;">
      <ion-label style="display: flex; flex-direction: row;"><ion-icon name="calendar-number-outline" color="dark"
          style="margin-right: 5px;"></ion-icon>FECHA</ion-label>
      <ion-label style="display: flex; flex-direction: row;"><ion-icon name="reader-outline" color="dark"
          style="margin-right: 5px;"></ion-icon>DETALLE</ion-label>
      <ion-label style="display: flex; flex-direction: row;"><ion-icon name="logo-usd" color="dark"
          style="margin-right: 5px;"></ion-icon>IMP</ion-label>
      <ion-label style="display: flex; flex-direction: row;"><ion-icon name="calculator-outline" color="dark"
          style="margin-right: 5px;"></ion-icon>CUOTAS</ion-label>
    </ion-chip>

    <ion-list>

      <!-- DISEÑO DE CONSUMO -->
      <ion-item-sliding *ngFor="let c of consumos ">
        <ion-item>
          <ion-chip
            style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; font-weight: bold; margin: 0rem; background-color: aquamarine;"
            color="success">
            <div style="display: flex; flex-direction: row; width: 25%;">
              <ion-label color="dark">{{ c.fecha | date:'dd/MM'}}</ion-label>
            </div>
            <div style="display: flex; flex-direction: row; width: 50%;">
              <ion-label color="dark">{{c.detalle | uppercase | slice:0:15}}</ion-label>
            </div>
            <div style="display: flex; flex-direction: row; width: 30%;">
              <ion-label color="dark" *ngIf="c.moneda == 'Pesos'">$ {{c.importe_total }}</ion-label>
              <ion-label color="dark" *ngIf="c.moneda != 'Pesos'">US$ {{c.importe_total }}</ion-label>

            </div>
            <div style="display: flex; flex-direction: row; width: 10%;">
              <ion-label color="dark" *ngIf="c.moneda == 'Pesos'">{{c.cuotificacion}}</ion-label>
            </div>

          </ion-chip>

        </ion-item>

        <!-- OPCIONES DE CONSUMO -->
        <ion-item-options>
          <ion-item-option color="#FFFFF">
            <ion-chip color="#F0EBEB">
              <ion-icon name="create-outline" color="dark" style="font-weight: 800; font-size: 1.5rem;"
                (click)="modificarConsumo(c)"></ion-icon>
            </ion-chip>
          </ion-item-option>
          <ion-item-option color="#FFFFF">
            <ion-chip color="#FFFFF">
              <ion-icon name="trash-outline" color="danger" style="font-weight: 800; font-size: 1.5rem;"
                (click)="confirmarDelete(c)"></ion-icon>
            </ion-chip>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-label *ngIf="consumos && consumos.length > 0">

      <!-- CALCULOS IMPUESTOS CONSUMOS MONEDA EXTRANJERA -->
      <div *ngIf="totalConsumosMonedaExt > 0">

        <ion-chip *ngIf="consumos.length!=0"
          style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px; font-weight: bold;">

          <ion-label style="display: flex; flex-direction: row; width: 60%; ">
            Cotizacion Dolar Tarjeta
          </ion-label>
          <ion-label style="display: flex; flex-direction: row; width: 15%;">
            ARS
          </ion-label>
          <ion-label style="display: flex; flex-direction: row; width: 25%;">
            $ {{dolarTarjeta | number:'1.2-2'}}
          </ion-label>
          <ion-label style="display: flex; flex-direction: row;"></ion-label>
        </ion-chip>

        <ion-chip *ngIf="consumos.length!=0"
          style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px; font-weight: bold;">

          <ion-label style="display: flex; flex-direction: row; width: 60%;">
            Consumos en Moneda Extranjera
          </ion-label>
          <ion-label style="display: flex; flex-direction: row; width: 15%;">

          </ion-label>
          <ion-label style="display: flex; flex-direction: row; width: 25%;">
            US$ {{totalConsumosMonedaExt | number:'1.2-2'}}
          </ion-label>
          <ion-label style="display: flex; flex-direction: row;"></ion-label>
        </ion-chip>

        <ion-chip *ngIf="consumos.length!=0"
          style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px; font-weight: bold;">

          <ion-label style="display: flex; flex-direction: row; width: 60%;">
            Impuesto PAIS
          </ion-label>
          <ion-label style="display: flex; flex-direction: row; width: 15%;">
            30%
          </ion-label>
          <ion-label style="display: flex; flex-direction: row; width: 25%;">
            $ {{(totalConsumosMonedaExt * dolarTarjeta * 0.30) | number:'1.2-2'}}
          </ion-label>
          <ion-label style="display: flex; flex-direction: row;"></ion-label>
        </ion-chip>

        <ion-chip *ngIf="consumos.length!=0"
          style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px; font-weight: bold;">

          <ion-label style="display: flex; flex-direction: row; width: 60%;">
            Ganancias y Bienes Personales
          </ion-label>
          <ion-label style="display: flex; flex-direction: row; width: 15%;">
            30%
          </ion-label>
          <ion-label style="display: flex; flex-direction: row; width: 25%;">
            $ {{(totalConsumosMonedaExt * dolarTarjeta * 0.30) | number:'1.2-2'}}
          </ion-label>
          <ion-label style="display: flex; flex-direction: row;"></ion-label>
        </ion-chip>
      </div>

      <!-- TOTAL PAGO TARJETA -->
      <ion-chip *ngIf="consumos.length!=0"
        style="width: 100%; display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px; font-weight: bold;">
        <ion-label style="display: flex; flex-direction: row;">

        </ion-label>
        <ion-label style="display: flex; flex-direction: row; ">
          TOTAL
        </ion-label>
        <ion-label style="display: flex; flex-direction: row; ">
          {{totalConsumosPesos + totalConsumosMonedaExt*dolarTarjeta + ((totalConsumosMonedaExt* dolarTarjeta)*0.60) |
          currency:'ARS':'symbol':'1.2-2':'es-AR'
          }}
        </ion-label>
        <ion-label style="display: flex; flex-direction: row;"></ion-label>
      </ion-chip>

    </ion-label>
  </ion-list>
</ion-content>

<app-footer></app-footer>