<app-header [title]="'Bienvenido ' + mes" [mostrarVolver]="usuarioLogeado"
  (volverAccion)="confirmarSignOut()"></app-header>
<ion-content>
  <ion-card color="dark">
    <!-- Saldo -->
    <ion-card-header>

      <div (click)="mostrarSaldos = !mostrarSaldos" class="datos_saldo">
        <ion-card-title>{{ mostrarSaldos ? (saldo_total | currency:'ARS'): '******'}}
        </ion-card-title>
        <ion-icon [name]="mostrarSaldos? 'eye-outline' : 'eye-off-outline'" style="font-size: 2rem;"></ion-icon>
      </div>

      <ion-card-subtitle>Saldo en cuenta</ion-card-subtitle>
      <p style="font-size: 10px;">Actualizado {{fechaFormateada}}</p>

    </ion-card-header>

    <!-- Detalle de saldo -->
    <ion-card-content color="dark">
      <ion-label (click)="mostrarDetalle = !mostrarDetalle">
        Detalle
        <ion-icon [name]="mostrarDetalle ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>

      </ion-label>
      <ion-list *ngIf="mostrarDetalle" color="dark" style="background: none;">
        <ion-item color="dark">
          <ion-label>
            <ion-icon name="business-outline" style="font-size: 1.5rem;" color="secondary"></ion-icon>
            En el Banco
          </ion-label>

          <ion-text style="font-weight: bold;">{{mostrarSaldos ? (saldo_bco | currency:'ARS'): '******' }}</ion-text>
        </ion-item>
        <ion-item color="dark">
          <ion-label>
            <ion-icon name="cash-outline" style="font-size: 1.5rem;" color="success"></ion-icon>
            En efectivo
          </ion-label>
          <ion-text style="font-weight: bold;">{{mostrarSaldos ? (saldo_efe | currency:'ARS'): '******'}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <p *ngIf='movimientosCuenta.length===0'
    style="text-align: center; font-weight: bold;text-transform: uppercase;font-size: 2rem;">
    EMPEZA HACER CUENTAS PARA LLEGAR A FIN DE MES {{nombreUser}}
  </p>
  <div *ngIf="mostrarSaldos">
    <ion-list *ngIf='movimientosCuenta.length!=0'>
      <div style="margin-bottom: 1rem; padding: 1rem; font-size: 1.5rem;text-align: center;">
        <ion-label>ULTIMOS MOVIMIENTOS FINANCIEROS</ion-label>
      </div>
      <div class="movimientos-detalles">
        <div class="movimientos-detalles-fecha">FECHA</div>
        <div class="movimientos-detalles-concepto">CONCEPTO</div>
        <div class="movimientos-detalles-importe">IMPORTE</div>
        <div class="movimientos-detalles-forma">FORMA</div>
      </div>

      <ion-item-sliding *ngFor="let cambio of movimientosCambios | slice:0:2">
        <ion-item>
          <div class="detalle-style">
            <ion-label color="dark" class="detalle-style-fecha"> {{ cambio.fecha | date:'dd/MM'}} </ion-label>
            <ion-label color="dark" class="detalle-style-rubro"> {{cambio.desde!='efectivo'? 'Retiro' : 'Depósito'}}
            </ion-label>
            <ion-label class="detalle-style-importe"> {{cambio.importe | currency:'ARS'}} </ion-label>
            <ion-label class="detalle-style-icono">
              <ion-icon name="repeat" color="dark"></ion-icon>
            </ion-label>

          </div>
        </ion-item>
        <ion-item-options>
          <ion-item-option (click)="infoCambio(cambio)" color="#FFFFF">
            <ion-icon color="warning" style="font-size: 1.5rem;" name="information-circle-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="#FFFFF">
            <ion-icon color="danger" style="font-size: 1.5rem;" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>

      <ion-item-sliding *ngFor="let mov of movimientosCuenta | slice:0:5">
        <!-- {{mov | json}} -->
        <ion-item *ngIf="mov.genero == 'gasto' ">
          <div class="detalle-style">
            <ion-label color="dark" class="detalle-style-fecha"> {{ mov.fecha | date:'dd/MM'}} </ion-label>
            <ion-label color="dark" class="detalle-style-rubro"> {{mov.rubro}} </ion-label>
            <ion-label color="danger" class="detalle-style-importe">- $ {{mov.importe }} </ion-label>
            <ion-label *ngIf="mov.tipo == 'Efectivo'" class="detalle-style-icono">
              <ion-icon name="cash" color="dark"></ion-icon>
            </ion-label>
            <ion-label *ngIf="mov.tipo != 'Efectivo'" class="detalle-style-icono">
              <ion-icon name="card" color="dark"></ion-icon>
            </ion-label>
          </div>
        </ion-item>
        <ion-item *ngIf="mov.genero != 'gasto' ">
          <div class="detalle-style">
            <ion-label color="dark" class="detalle-style-fecha"> {{ mov.fecha | date:'dd/MM'}} </ion-label>
            <ion-label color="dark" class="detalle-style-rubro"> {{mov.rubro}} </ion-label>
            <ion-label color="success" class="detalle-style-importe">+ $ {{mov.importe }} </ion-label>
            <ion-label *ngIf="mov.tipo == 'Efectivo'" class="detalle-style-icono"> <ion-icon name="cash"
                color="dark"></ion-icon>
            </ion-label>
            <ion-label *ngIf="mov.tipo != 'Efectivo'" class="detalle-style-icono"> <ion-icon name="business"
                color="dark"></ion-icon>
            </ion-label>
          </div>
        </ion-item>
        <ion-item-options *ngIf="mov.genero == 'gasto' ">
          <ion-item-option (click)="infoMovimiento(mov)" color="#FFFFF">
            <ion-icon color="warning" style="font-size: 1.5rem;" name="information-circle-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="agregarGastos(mov)" color="#FFFFF">
            <ion-icon color="secondary" style="font-size: 1.5rem;" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="confirmarDelete(mov)" color="#FFFFF">
            <ion-icon color="danger" style="font-size: 1.5rem;" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item-options *ngIf="mov.genero != 'gasto' ">
          <ion-item-option (click)="infoMovimiento(mov)" color="#FFFFF">
            <ion-icon color="warning" style="font-size: 1.5rem;" name="information-circle-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="agregarIngresos(mov)" color="#FFFFF">
            <ion-icon color="secondary" style="font-size: 1.5rem;" name="create-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option (click)="confirmarDelete(mov)" color="#FFFFF">
            <ion-icon color="danger" style="font-size: 1.5rem;" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </div>

  <!-- Boton con acciones -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="intercambioSaldos()">
        <ion-icon name="swap-horizontal-outline" color="primary" style="font-size: 1.5rem;"
          id="present-alert"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="agregarGastos()">
        <ion-icon name="remove-circle-outline" color="danger" style="font-size: 2rem;"></ion-icon>
        <ion-icon name="card-outline" style="font-size: 2rem;"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="agregarIngresos()">
        <ion-icon name="add-circle-outline" color="success" style="font-size: 2rem;"></ion-icon>
        <ion-icon name="wallet-outline" style="font-size: 2rem;"></ion-icon>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>
</ion-content>

<app-footer></app-footer>