.movimientos-detalles {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-around;
}

.detalle-style {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}