<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" [routerLink]="['/home']">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="gastos" [routerLink]="['/gastos']">
      <ion-icon name="bag-check"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ingresos" [routerLink]="['/ingresos']">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Ingresos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>