<div class="nav-float">
  <a class="nav-item" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <ion-icon name="home-outline"></ion-icon>
  </a>
  <a class="nav-item" [routerLink]="['/gastos']" routerLinkActive="active">
    <ion-icon name="receipt-outline"></ion-icon>
  </a>
  <a class="nav-item" [routerLink]="['/ingresos']" routerLinkActive="active">
    <ion-icon name="trending-up-outline"></ion-icon>
  </a>
  <a class="nav-item" (click)="abrirIntercambio()">
    <ion-icon name="swap-horizontal-outline"></ion-icon>
  </a>
  <a class="nav-item" [routerLink]="['/simulador']" routerLinkActive="active">
    <ion-icon name="calendar-number-outline"></ion-icon>
  </a>
</div>
