<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" [routerLink]="['/home']">
      <ion-icon name="home-outline" color="dark"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="gastos" (click)="enDesarrollo()">
      <ion-icon name="bag-check" color="danger"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ingresos" (click)="enDesarrollo()">
      <ion-icon name="cash" color="success"></ion-icon>
      <ion-label>Ingresos</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="gastos" [routerLink]="['/gastos']">
      <ion-icon name="receipt-outline" color="dark"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ingresos" [routerLink]="['/ingresos']">
      <ion-icon name="cash-outline" color="dark"></ion-icon>
      <ion-label>Ingresos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tarjetas" [routerLink]="['/tarjetas']">
      <ion-icon name="wallet-outline" color="dark"></ion-icon>
      <ion-label>Tarjetas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="balances" [routerLink]="['/balances']">
      <ion-icon name="calendar-outline" color="dark"></ion-icon>
      <ion-label>Mes a Mes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>