form {
    width: 100%;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;

    p {
        text-align: end;
        text-decoration: wavy;
    }


    @media screen and (max-width: 768px) {
        padding: 5%;

        ion-button {
            margin: 10px;
        }

        p {
            margin-inline-end: 10px;
        }

        .errores {
            color: red;
            text-align: center;
            font-weight: bold;
            margin-top: 5px;
        }


    }

}

ion-toggle {
    margin-left: 2.5rem;
}

ion-toggle::part(track),
ion-toggle.toggle-checked::part(track) {
    background: #ddd;

    /* Required for iOS handle to overflow the height of the track */
    overflow: visible;
}

ion-toggle::part(handle) {
    background: #eb7769;

}

ion-toggle.toggle-checked::part(handle) {
    background: #95c34e;
}