<ion-header>
  <ion-toolbar class="app-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="app-title">Configuración</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="submit()">

    <!-- Nombre -->
    <app-ingreso-datos icon="person-outline" autocomplete="name" label="Nombre"
      [control]="formulario.controls.name" inputmode="text" type='text'></app-ingreso-datos>

    <div *ngIf="formulario.controls.name.errors && formulario.controls.name.touched">
      <div class="errores" *ngIf="formulario.controls.name.errors?.['required']">El nombre es necesario</div>
      <div class="errores" *ngIf="formulario.controls.name.errors?.['minlength']">El nombre debe tener al menos 4
        caracteres</div>
    </div>

    <!-- Email -->
    <app-ingreso-datos icon="mail-outline" autocomplete="email" label="Email"
      [control]="formulario.controls.email" inputmode="email" type='email'></app-ingreso-datos>

    <div *ngIf="formulario.controls.email.errors && formulario.controls.email.touched">
      <div class="errores" *ngIf="formulario.controls.email.errors?.['required']">El email es necesario</div>
      <div class="errores" *ngIf="formulario.controls.email.errors?.['email']">El email no es válido</div>
    </div>

    <!-- Contraseña -->
    <app-ingreso-datos icon="lock-closed-outline" autocomplete="new-password" label="Nueva contraseña (opcional)"
      [control]="formulario.controls.password" inputmode="text" type='password'></app-ingreso-datos>

    <div *ngIf="formulario.controls.password.errors && formulario.controls.password.touched">
      <div class="errores" *ngIf="formulario.controls.password.errors?.['minlength']">La contraseña debe tener al menos
        6 caracteres</div>
    </div>

    <!-- Saldo efectivo -->
    <app-ingreso-datos icon="cash-outline" autocomplete="off" label="Dinero en efectivo"
      [control]="formulario.controls.saldo_efectivo" [maskito]="mascara" [maskitoElement]="maskPredicate"
      inputmode="decimal" type='text'></app-ingreso-datos>

    <div *ngIf="formulario.controls.saldo_efectivo.errors && formulario.controls.saldo_efectivo.touched">
      <div class="errores" *ngIf="formulario.controls.saldo_efectivo.errors?.['required']">El saldo en efectivo es
        necesario</div>
    </div>

    <!-- Saldo banco -->
    <app-ingreso-datos icon="business-outline" autocomplete="off" label="Dinero en banco"
      [control]="formulario.controls.saldo_banco" [maskito]="mascara" [maskitoElement]="maskPredicate"
      inputmode="decimal" type='text'></app-ingreso-datos>

    <div *ngIf="formulario.controls.saldo_banco.errors && formulario.controls.saldo_banco.touched">
      <div class="errores" *ngIf="formulario.controls.saldo_banco.errors?.['required']">El saldo en banco es necesario
      </div>
    </div>

    <div style="width: max-content; display: flex; flex-direction: row; justify-content: center; margin: 10px auto;">
      <ion-button type="submit" [disabled]="!formulario.valid" shape="round">
        Guardar
        <ion-icon slot="end" name="checkmark-circle"></ion-icon>
      </ion-button>
    </div>

  </form>
</ion-content>
<app-footer></app-footer>