<app-header title="Ahorros" [mostrarVolver]="usuarioLogeado" [routerLink]="['/home']"></app-header>
<ion-content>

  <div class="ahorros-grid">
    <ion-item-sliding *ngFor="let ahorro of ahorros" class="ahorro-slide">
      <ion-item class="ahorro-item">
        <div class="ahorro-card">
          <span class="ahorro-fecha">{{ ahorro.fecha | date:'dd/MM' }}</span>
          <span class="ahorro-detalle">{{ ahorro.detalle | uppercase | slice:0:15 }}</span>
          <span class="ahorro-importe">
            {{ ahorro.moneda === 'Dolares'
              ? (ahorro.importe | currency: 'USD')
              : (ahorro.importe | currency: 'ARS') }}
          </span>
          <ion-img class="ahorro-icono" src="assets/icons/ahorro.svg"></ion-img>
        </div>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="crearAhorro(ahorro)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="confirmarDelete(ahorro)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="crearAhorro()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-footer></app-footer>