<app-header title="Ahorros" [mostrarVolver]="usuarioLogeado" [routerLink]="['/home']"></app-header>
<ion-content>



  <!-- @section: mostrar ahorros -->

  <!--
    <ion-item-sliding *ngFor="let tarjeta of tarjetas">
        <ion-card class="tarjeta-card" [ngStyle]="{'background-color': getColorBanco(tarjeta.banco), color: 'white'}">
          <ion-card-header>
            <ion-card-title class="card-title">**** **** **** {{tarjeta.digitos}}
            </ion-card-title>
            <ion-card-subtitle class="card-subtitle">
              <ion-img [src]="getIconoBanco(tarjeta.banco)" class="icono-banco"></ion-img>
              <ion-img [src]="getIconoTarjeta(tarjeta.tarjeta)" class="icono-tarjeta"></ion-img>
            </ion-card-subtitle>
          </ion-card-header>

          <div class="botones">
            <ion-button fill="clear" (click)="verConsumos(tarjeta)">
              <ion-icon name="receipt" labe> </ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="editarTarjeta(tarjeta)">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="confirmarDelete(tarjeta)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>

          </div>
        </ion-card>
      </ion-item-sliding>


    <ion-card>
        <div style="display: flex;flex-direction: row; justify-content: space-between;">

          <div>
            <ion-card-header>
              <ion-card-title>Producto Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </div>
          <div style="margin: 1rem;">
            <ion-avatar style="width: 5rem; height: 5rem;">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </div>
        </div>

        <ion-card-content>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Hasta ahora</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <div style="display: flex; flex-direction: row;">
                  <ion-progress-bar [value]="valorMeta" color="success"></ion-progress-bar>
                  <ion-icon name="trophy-outline" style="font-size: 1.5rem;top: 50%; transform: translateY(-50%);"></ion-icon>
                </div>

                <div style="display: flex; flex-direction: column;margin-top: 0.5rem;">
                  <ion-label>Valor : </ion-label>
                  <ion-label>Ahorrado hasta ahora: </ion-label>
                </div>

              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>

    </ion-card>


  @endsection -->

  <!-- <ion-item-sliding *ngFor="let ahorro of ahorros">
    <p>{{ahorro | json}}</p>
  </ion-item-sliding> -->



  <ion-content color="light">
    <ion-list [inset]="true" *ngFor="let ahorro of ahorros">
      <ion-item-sliding style="height: 3.5rem;">
        <ion-item>
          <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
            <p>{{ahorro.fecha | date:'dd/MM'}}</p>
            <p>{{ahorro.detalle | uppercase}}</p>
            <p style="color: green;">+ {{ahorro.moneda==="Dolares"? 'U$S' : '$'}}
              {{ahorro.importe}}</p>
            <ion-img slot="end" src="assets/icons/ahorro.svg"
              style="width: 2rem; height: 2rem; margin-top: 1rem;"></ion-img>
          </div>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="#FFFFF">
            <ion-chip color="#F0EBEB">
              <ion-icon name="create-outline" color="dark" style="font-weight: 800; font-size: 1.5rem;"
                (click)="crearAhorro(ahorro)"></ion-icon>
            </ion-chip>
          </ion-item-option>
          <ion-item-option color="#FFFFF">
            <ion-chip color="#FFFFF">
              <ion-icon name="trash-outline" color="danger" style="font-weight: 800; font-size: 1.5rem;"
                (click)="confirmarDelete(ahorro)"></ion-icon>
            </ion-chip>
          </ion-item-option>
        </ion-item-options>


      </ion-item-sliding>

    </ion-list>
  </ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="crearAhorro()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-footer></app-footer>