<app-header title="Ahorros" [mostrarVolver]="usuarioLogeado" [routerLink]="['/home']"></app-header>
<ion-content>



  <!-- @section: mostrar ahorros -->

  <!--
    <ion-item-sliding *ngFor="let tarjeta of tarjetas">
        <ion-card class="tarjeta-card" [ngStyle]="{'background-color': getColorBanco(tarjeta.banco), color: 'white'}">
          <ion-card-header>
            <ion-card-title class="card-title">**** **** **** {{tarjeta.digitos}}
            </ion-card-title>
            <ion-card-subtitle class="card-subtitle">
              <ion-img [src]="getIconoBanco(tarjeta.banco)" class="icono-banco"></ion-img>
              <ion-img [src]="getIconoTarjeta(tarjeta.tarjeta)" class="icono-tarjeta"></ion-img>
            </ion-card-subtitle>
          </ion-card-header>

          <div class="botones">
            <ion-button fill="clear" (click)="verConsumos(tarjeta)">
              <ion-icon name="receipt" labe> </ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="editarTarjeta(tarjeta)">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="confirmarDelete(tarjeta)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>

          </div>
        </ion-card>
      </ion-item-sliding>


    <ion-card>
        <div style="display: flex;flex-direction: row; justify-content: space-between;">

          <div>
            <ion-card-header>
              <ion-card-title>Producto Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </div>
          <div style="margin: 1rem;">
            <ion-avatar style="width: 5rem; height: 5rem;">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </div>
        </div>

        <ion-card-content>
          <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <ion-label>Hasta ahora</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <div style="display: flex; flex-direction: row;">
                  <ion-progress-bar [value]="valorMeta" color="success"></ion-progress-bar>
                  <ion-icon name="trophy-outline" style="font-size: 1.5rem;top: 50%; transform: translateY(-50%);"></ion-icon>
                </div>

                <div style="display: flex; flex-direction: column;margin-top: 0.5rem;">
                  <ion-label>Valor : </ion-label>
                  <ion-label>Ahorrado hasta ahora: </ion-label>
                </div>

              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-card-content>

    </ion-card>


  @endsection -->

  <ion-item-sliding *ngFor="let ahorro of ahorros">
    <p>{{ahorro | json}}</p>
  </ion-item-sliding>



</ion-content>
<app-footer></app-footer>