<app-header title="Balances" [mostrarVolver]="usuarioLogeado" [routerLink]="['/home']"></app-header>
<ion-content>
  <ion-segment>
    <ion-segment-button value="general" content-id="general">
      <ion-label>General</ion-label>
    </ion-segment-button>
    <ion-segment-button value="simulador" content-id="simulador">
      <ion-label>Simulador</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button style="width: max-content ;" color="danger">Gasto Fijo</ion-button>
      <ion-button style="width: max-content ;" color="success">Ingreso Fijo</ion-button>
      <ion-button style="width: max-content ;" color="tertiary">Simular Gasto</ion-button>
    </ion-fab-list>
  </ion-fab>

  {{ tarjetas | json }} <br><br>
  {{ ingresosFijos | json }} <br><br>
  {{ gastosFijos | json }} <br><br>
  {{ consumos | json }} <br><br>
  {{ totalConsumosPesos}} <br><br>
  {{ totalConsumosMonedaExt}} <br><br>

  <ion-segment-view>
    <ion-segment-content id="general"> </ion-segment-content>

    <ion-segment-content id="simulador"> </ion-segment-content>
  </ion-segment-view>

</ion-content>
<app-footer></app-footer>