<app-header title="Balances" [mostrarVolver]="usuarioLogeado" [routerLink]="['/home']"></app-header>
<ion-content>
  <ion-segment>
    <ion-segment-button value="general" content-id="general">
      <ion-label>General</ion-label>
    </ion-segment-button>
    <ion-segment-button value="simulador" content-id="simulador">
      <ion-label>Simulador</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>
    <ion-segment-content id="general">En desarrollo </ion-segment-content>
    <ion-segment-content id="simulador">En desarrollo </ion-segment-content>
  </ion-segment-view>

</ion-content>
<app-footer></app-footer>